html, body {
	background-color: white;
	font-family: 'Sans-Serif';
	width: 100%;
	height: 100%;
}

h1 {
	text-align: center;
	font-size: 40px;
}
h2 {
	text-align: center;
	font-size: 28px;
}

h3 {
	text-align: center;
	font-size: 15px;
}

#info {
	text-align: center;
}

#info_main_games {
	font-size: 7vh;
}

#includedContent {
	width: 100%;
	/* height: 10%70px; */
	height: 50px;
	background-color: #ef9b0f;
}

.datetime {
	color: #001E67;
}

.menu {
	display: inline;
	white-space: nowrap;
}

.game {
	text-align: center;
}

#btn-menu {
	float: left;
	background-color: red;
}

.container {
	text-align: center;
	vertical-align: text-top;
}

.container-enrichme {
	max-width: 85%;
	margin-left: 7.5%;
}

.container-app {
	max-width: 95%;
	margin-left: 2.5%;
}
.container_modified {
	max-width: 95%;
	/*margin-left: 10%;*/
	text-align: center;
	/*float: right;*/
}

.btn-xlarge {
	padding: 45px 32px;
	line-height: normal;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	margin-right: 2%;
	margin-bottom: 2%;
	max-width: 50%;
}

.btn-container {
	max-width: 80%;
	/*float: right;*/
	text-align: center;
	margin-left: 10%;
	/*margin-: %;*/
}

.btn-index-game {
	/* width: 90%; */
	/* height: 25%; */
	margin-left: 10%;
	width: 80%;
	height: 100%;
	font-size: 27.5vh;
	border-radius: 15px;
	/* vertical-align: text-top; */
	/*margin-top: 2%;*/
}

.btn-index-game_demo {
	width: 95%;
	height: 37%;
	font-size: 5vh;
	border-radius: 10px;
	/*margin-top: 2%;*/
}



.btn-span {
	color: white;
	font-size: 111%;
}

.btn-main-game-span {
	color: white;
	font-size: 150%;
	margin-left: 29%;
}

.btn-huge {
	/*padding: 40px 30px;*/
	width: 31%;
	height: 25%;
	font-size: 45px;
	line-height: normal;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	margin-right: 2%;
	margin-bottom: 2%;
	word-wrap: normal;
	white-space: normal;
}

.btn-game {
	/* padding: 13px 18px; */
	margin-left: 30%;
	width: 45%;
	height: 20%;
	/*padding: 3% 3.1%;*/
	/*font-size: 20px;*/
	line-height: normal;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	white-space: normal;
}

.btn-game-span {
	font-size: 6vh;
}

#top {
	font-size: 4vh;
}

#end {
	margin-top: 20%;
	font-size: 18vh;
}

#question{
	font-size: 5vh;
	color: blue;
}

.btn-main-menu {
	/* padding: 13px 18px; */
	width:  18%;
	height: 90%;
	font-size: 250%;
	/*padding: 3% 3.1%;*/
	/*font-size: 20px;*/
	line-height: normal;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	margin-left: 5%;
}

.btn-ans {
	/*padding: 70px 27px;*/
	/*padding: 30px 25px;*/
	width: 30%;
	height: 200px;
	font-size: 4.5vh;
	line-height: normal;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 10px;
	margin: 15px;
	white-space: normal;
	/*margin-top: 10px;*/
}

.empty {
	margin-top: 5%;
}

.smallempty {
	margin-top: 2.5%;
}

.tinyempty {
	margin-top: 1%;
}
.bigempty {
	margin-top: 10%;
}

.button {
	font-size: 2.5em;
	display: inline;
}

.el_blue {
	color: blue;
	font-size: 55px;
}

#whattodo{
	/*for physical*/
	font-size: 55px;
}

.centering {
	text-align: center;
}

/* .demo_games {
	margin-top: 0%;
} */

#outer {
	width:  100%;
	text-align: center;
}

.menu_item {
	height: 95%;
}

.btn-modal {
	display: inline;
	width: 20%;
	height: 15%;
	font-size: 40px;
	line-height: normal;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	margin-right: 2%;
	margin-bottom: 2%;
	word-wrap: normal;
	white-space: normal;

}

.modal-xlg {
	width: 60%;
	margin: auto;
}

/* END GAME si FEEDBACK GAMES */
#congrat {
	font-size: 6.5vh;
}

#stat, #time_game {
	font-size: 4.5vh;
}

#finish_title{
	font-size:  6vh;
}
#finish_subtitle {
	font-size: 4.5vh;
}

/* #score_feedback_info, #times_feedback_info {
	font-size: 4vh;
} */

.swal2-styled.swal2-confirm {
	font-size: 5vh;
}

.swal2-styled.swal2-cancel {
	font-size: 5vh;
}
h2#swal2-title.swal2-title {
	font-size: 9vh;
}

div#swal2-content.swal2-content{
	font-size: 6vh;
}

#docking {
	color: white;
}

.text_center {
	text-align: center;
}


#logo {
	margin-left: 30%;
	background-color: white;
}


.login-page-center {
	padding-top: 20%;
	padding-bottom: 20%;
	padding-left: 20%;
	padding-right: 20%;
}

.dan_page {
	width: 100%;
	height: 100%;	
}
.dan_frame {
	width: 100%;
	height: 100%;
	padding-top: 10%;
	padding-bottom: 10%;
	padding-left: 10%;
	padding-right: 10%;
}
.dan_frame_text {
	width: 100%;
	height: 80%;
	text-align: left;
}
.dan_frame_btn {
	width: 10%;
	height: 10%;
	margin-bottom: 5%;
	margin-top: 5%;
	margin-left: 45%;
	margin-right: 45%;
}

.dan_main_page_left {
	width: 25%;
	height: 100%;
	display: inline-block;
	float: left;
}
.dan_main_page_mid {
	width: 49%;
	height: 100%;	
	display: inline-block;
	float: left;
}
.dan_main_page_right {
	width: 25%;
	height: 100%;	
	display: inline-block;
}
.dan_main_page_taks {
	width: 100%;
	height: 30%;	
	padding-top: 5%;
	padding-bottom: 5%;
	padding-left: 5%;
	padding-right: 5%;
}
.dan_main_page_intervention {
	width: 100%;
	height: 68%;	
	padding-top: 5%;
	padding-bottom: 5%;
	padding-left: 5%;
	padding-right: 5%;
	text-align: center;
}
.main_page_task_intervetion_intervention_button_div {
	width: 100%;
	height: 12%;
	text-align: center;
	padding-top: 5%;
	padding-bottom: 5%;
	padding-left: 5%;
	padding-right: 5%;
}
.main_page_task_intervetion_head_sliders {
	width: 100%;
	height: 75%;
	text-align: center;
}
.main_page_task_intervetion_finish_intervention_button_div {
	width: 100%;
	height: 12%;
	text-align: center;
	padding-top: 5%;
	padding-bottom: 5%;
	padding-left: 5%;
	padding-right: 5%;
}
.main_page_task_intervetion_head_sliders_text {
	width: 100%;
	height: 10%;
}
.main_page_task_intervetion_head_left_right_slider_div {
	width: 100%;
	height: 20%;
}
.main_page_task_intervetion_head_up_down_slider_div {
	width: 100%;
	height: 70%;
	text-align: center;
}
.main_page_task_intervetion_move_base_arrows {
	width: 100%;
	height: 75%;
	padding-top: 5%;
	padding-bottom: 5%;
	padding-left: 5%;
	padding-right: 5%;
}
.main_page_task_intervetion_move_base_arrows_up_buttton {
	display: block;
	width: 100%;
	padding-bottom: 5%;
}

.main_page_task_intervetion_move_base_arrows_down_butttons {
	width: 100%;
	height: 50%;
}
.main_page_task_intervetion_scan {
	width: 100%;
	height: 75%;
	padding-top: 5%;
	padding-bottom: 5%;
	padding-left: 5%;
	padding-right: 5%;
}

.main_page_info_nav {
	width: 100%;
	height: 30%;
}

.main_page_image {
	max-width: 100%;
	max-height: 100%;
}